body{
    background-color: blueviolet;
    color: black;
    text-align: center;

}

section{
    margin: auto;
    background-color: black;
    height: 500px;
    width: 500px;
    color: rgb(255, 255, 255);
}


select#flista{
    width: 245px ;
    margin-top: 25px;
    color: black;
}
